<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>AiByChie - Call Center</title>
        <!-- Favicon-->
        <script src="https://kit.fontawesome.com/ae712c6c2e.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <!-- Font Awsome -->
        <script src="https://kit.fontawesome.com/d341c2f702.js" crossorigin="anonymous"></script>
    </head>
    <body>
      <!-- Navigation-->
      <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
              <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='assets/img/logo.png') }}"  alt="">
              </a>
              <!-- <a class="navbar-call" href="#!"> AI Call Center </a> -->
              <a class="btn btn-primary" href="/index">Start Now!</a>
            </div>
        </nav>
            
        <!-- Content-->
        <div class="chat-section">
          <div id="chat-history">

            <div class="userrr">
              <!-- <div class="user-message">
                  <span class="message-text"></span>
                  <div class="chat-img">
                    <img src="{{ url_for('static', filename='assets/img/Puti-Suri.jpg') }}" alt="User Image" class="message-image">
                  </div>
              </div> -->
            </div>
  
            <div class="chat-message">
              <div class="ai-message">
                <div class="chat-img">
                  <img src="{{ url_for('static', filename='assets/img/puti02.jpeg') }}" alt="AI Image" class="message-image">
                </div>
                <span class="message-text">Hi! :D</span>
              </div>
            </div>
          </div>
            

          <!-- INPUTTTTTTT -->
          <div class="voice-text-container">
            <div class="switch">
              <label class="switch-label">
                <i class="fa-solid fa-microphone"></i>
                <i class="fa-solid fa-keyboard"></i>
                <input type="checkbox" id="toggleSwitch">
                <span class="slider"></span>
              </label>
            </div>
  
            <div class="chat-input">
              <div class="text-input">
                <form action="/chat" method="post" id="user-input-form">
                  <input type="text" id="user-input" name="user-input" placeholder="Type your message...">
                  <button type="submit" class="submit-button">
                    <img src="{{ url_for('static', filename='assets/img/send.png') }}" alt="">
                  </button> 
                </form>
              </div>
  
            <div class="voice-input">
              <button id="record-button">
                <img src="{{ url_for('static', filename='assets/img/Mic_btn.png') }}" alt="">
              </button>
            </div>

          </div>
    
          </div>

        </div>

        <!-- Footer-->
        <footer class="footer bg-light">
          <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="#!">About</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Contact</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; AibyChie 2023. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                          <li class="list-inline-item me-4">
                            <a href="#!"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                              <a href="#!"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
              </div>
            </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script>
          const userImageUrl = "{{ url_for('static', filename='assets/img/Puti-Suri.jpg') }}";
          const userImageUrl2 = "{{ url_for('static', filename='assets/img/puti02.jpeg') }}";
        </script>
      
      </body>
      </html>
